<%="<h1>Welcome user# #{@user.id}</h1>"%>
<h1>Sign-up</h1>

<form method="POST" action="/sign_up_process" enctype="multipart/form-data">  
<div class="form">
<div class="label">
<input type="email" name="email" required> <label for="email">E-mail</label>
</div>
</div>

<div class="form">
<div class="label">
<input type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"required> <label for="password">Password</label> 
</div>
</div>

<div class="form">
<div class="label">
<input type="fname" name="fname" required> <label for="fname">First Name</label>
</div>
</div>

<div class="form">
<div class="label">
<input type="lname" name="lname" required> <label for="lname">Last Name</label>
</div>
</div>

<input type="submit"></form>